<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Agregar Continente</title>
</head>
<body>
<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand" href="/" style="color: #251103;">Futbolístico</a>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Registro de Continentes</h1>
				<div class="card-body">
					<form th:action="@{/continentes}" th:object="${continente}" method="post">
						<div class="form-group">
							<label>Nombre: </label> <input type="text" name="nombre"
								th:field="*{nombre}" class="form-control"
								placeholder="Digite el nombre del continente:">
						</div>
						<div class="box-footer">
							<button class="btn btn-success">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>